<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a76f63103c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="container">
    <h3> Chat Demo</h3>
    <form autocomplete="off">
      <div id="chat">
        <ul>
        </ul>
      </div>
      <input type="file" name="file" id="file">
      <div id="message-input">
        <i class="far fa-file-image"></i>
        <input type="text" name="message" id="message"></br>
      </div>
      <input type="submit" id="submitBtn" value="Submit" autocomplete="off">
    </form>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="/public/js/chat.js" type="module"></script>
</body>

</html>